.base-color {
  color: #707070;
}
.border-base-color {
  border-color: #707070;
}
.bg-color {
  background-color: #FEFEFE;
}
.hover-base-color:hover {
  background-color: #707070 !important;
}
.search-box {
  background-color: #AAA;
}
.sc_down {
  display: none;
}

.navbar {
  overflow: hidden;
}

input[type=radio] {
  display: none;
}

label {
  padding: 0 1px;
  margin: 0 2px;
  color: #707070;
}

select:checked {
  color: #444;
}

input[name="gen"]:checked + label, input[name="type"]:checked + label {
  border-bottom: 1px solid #888 !important;
  color: #444 !important;
}

input[type=radio] + label:hover {
  cursor: pointer;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
  display:none;
}

.check_score label {
  border: 1px solid #888;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0.3rem 0.4rem;
  width: 40px;
  text-align: center;
}

.check_score input:checked + label {
  background-color: #888;
  color: #fff;
}

.check_career label {
  border: 1px solid #888;
  border-radius: 50%;
  padding: 0.2rem;
  margin: 0.5rem 0.6rem;
  width: 34px;
  text-align: center;
}

.check_career input:checked + label {
  background-color: #888;
  color: #fff;
}